# Geoinformation of schools from searching

First, import the relevant libraries

In [1]:
from geopy.geocoders import Nominatim
import numpy as np
import pandas as pd

Make a test

In [2]:
geolocator = Nominatim(user_agent='school')
location = geolocator.geocode('UCL')
location.address

'Petrie Museum of Egyptian Archeology, Malet Place, St Pancras, London Borough of Camden, London, Greater London, England, WC1E 6BT, United Kingdom'

In [3]:
long, lat = location.longitude, location.latitude 
long, lat

(-0.1329767170257194, 51.5235814)

Create a class named Place to store those geoinformation

In [4]:
class Place:
    def __init__(self, position):
        self.location = Nominatim(user_agent='school').geocode(position)
        self.coordinate = self.location.longitude, self.location.latitude
        self.lat = self.coordinate[1]
        self.long = self.coordinate[0]
        self.address = self.location[0]
        self.nation = self.address.split(', ')[-1]
        self.city = self.address.split(', ')[-3]

In [5]:
ucl = Place('UCL')
ucl.nation

'United Kingdom'

The first sample: 8 schools across the world

In [6]:
school_data = pd.read_csv('C:/Users/kanyu/OneDrive/桌面/School Location/Schools.csv', encoding='utf-8')
school_data

                    School  Times  Longtitude   Latitude
0                      UCL      5   -0.132977  51.523581
1     Cambridge University     10   -1.097175  50.794403
2       Harvard University      6  -71.126782  42.367909
3         Seoul University      7  126.952161  37.458115
4  University of Melbourne      1  144.961301 -37.797080
5       Toronto University      3  -79.384670  43.656119
6         Tokyo University      1  -79.416237  43.664361
7  University of Cape Town     20   18.467578 -33.956756

In [7]:
school_location_list = [Place(school_data['School'][i]) for i in range(school_data.shape[0])]
school_data['Longtitude'] = [school_location_list[i].long for i in range(school_data.shape[0])]
school_data['Latitude'] = [school_location_list[i].lat for i in range(school_data.shape[0])]
school_data

                    School  Times  Longtitude   Latitude
0                      UCL      5   -0.132977  51.523581
1     Cambridge University     10   -1.097175  50.794403
2       Harvard University      6  -71.126782  42.367909
3         Seoul University      7  126.952161  37.458115
4  University of Melbourne      1  144.961301 -37.797080
5       Toronto University      3  -79.384670  43.656119
6         Tokyo University      1  -79.416237  43.664361
7  University of Cape Town     20   18.467578 -33.956756

In [8]:
school_data.to_csv('Schools.csv', index=False)

The secode sample: 4 universities I have been to

In [9]:
university_data = pd.read_csv('C:/Users/kanyu/OneDrive/桌面/School Location/Universities_I_have_been_to.csv', encoding='utf-8')
university_data

,University,Nation,Address,Longtitude,Latitude
0,NCKU,臺灣,"總圖書館, 1, 大學路, 大學里, 東區, 臺南市, 70101, 臺灣",120.219883,22.999860
1,Tsinghua University,中国,"清华大学, 30, 双清路, 五道口, 海淀区, 北京市, 100084, 中国",116.320963,40.002290
2,PolyU,中国,"香港理工大學 The Hong Kong Polytechnic University, 1...",114.179693,22.304487
3,UCL,United Kingdom,"Petrie Museum of Egyptian Archeology, Malet Pl...",-0.132977,51.523581

In [10]:
university_location_list = [Place(university_data['University'][i]) for i in range(university_data.shape[0])]
university_data['Nation'] = [university_location_list[i].nation for i in range(university_data.shape[0])]
university_data['Address'] = [university_location_list[i].address for i in range(university_data.shape[0])]
university_data['Longtitude'] = [university_location_list[i].long for i in range(university_data.shape[0])]
university_data['Latitude'] = [university_location_list[i].lat for i in range(university_data.shape[0])]
university_data

,University,Nation,Address,Longtitude,Latitude
0,NCKU,臺灣,"總圖書館, 1, 大學路, 大學里, 東區, 臺南市, 70101, 臺灣",120.219883,22.999860
1,Tsinghua University,中国,"清华大学, 30, 双清路, 五道口, 海淀区, 北京市, 100084, 中国",116.320963,40.002290
2,PolyU,中国,"香港理工大學 The Hong Kong Polytechnic University, 1...",114.179693,22.304487
3,UCL,United Kingdom,"Petrie Museum of Egyptian Archeology, Malet Pl...",-0.132977,51.523581

In [11]:
university_data.to_csv('Universities_I_have_been_to.csv', index=False)

The third sample: World known buildings

In [12]:
building_data = pd.read_csv('C:/Users/kanyu/OneDrive/桌面/School Location/Buildings.csv', encoding='unicode_escape')
building_data

                      Building
0        Empire State Building
1        Château de Versailles
2                  Tokyo Tower
3     Gran Teatro de La Habana
4                 Lotus Temple
5           Golden Gate Bridge
6                Dancing House
7        Great Pyramid of Giza
8          Acropolis of Athens
9         Dresden Frauenkirche
10                    Pantheon
11       St. Basils Cathedral
12              Forbidden City
13             Sagrada Família
14                   The Shard
15          Sydney Opera House
16                Burj Khalifa
17                  Taipei 101
18  Museu de Arte de São Paulo
19            Cappella Sistina
20                Teatro Colón

In [13]:
building_location_list = [Place(building_data['Building'][i]) for i in range(building_data.shape[0])]
building_data['Nation'] = [building_location_list[i].nation for i in range(building_data.shape[0])]
building_data['City'] = [building_location_list[i].city for i in range(building_data.shape[0])]
building_data

,Building,Nation,City
0,Empire State Building,United States,New York
1,Château de Versailles,France,France métropolitaine
2,Tokyo Tower,日本,東京都
3,Gran Teatro de La Habana,Cuba,La Habana Vieja
4,Lotus Temple,United States,California
5,Golden Gate Bridge,United States,California
6,Dancing House,Česko,Praha
7,Great Pyramid of Giza,مصر,ميدان الرماية
8,Acropolis of Athens,Ελλάς,Αποκεντρωμένη Διοίκηση Αττικής
9,Dresden Frauenkirche,Deutschland,Sachsen
10,Pantheon,Italia,Lazio
11,St. Basils Cathedral,Россия,Москва
12,Forbidden City,中国,北京市
13,Sagrada Família,España,Catalunya
14,The Shard,United Kingdom,England
15,Sydney Opera House,Australia,New South Wales
16,Burj Khalifa,الإمارات العربية المتحدة,دبي
17,Taipei 101,臺灣,臺北市
18,Museu de Arte de São Paulo,Brasil,Região Sudeste
19,Cappella Sistina,Città del Vaticano,Cappella Sistina
20,Teatro Colón,Argentina,Ciudad Autónoma de Buenos Aires

In [14]:
building_data.to_csv('Buildings.csv', index=False)